
.actives,.nav-link:hover{
    color: blue!important;
}
.nav-Link{
    transition: all 0.7s ease-out;
}
.no-outline::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}


